<div class="eqLogic-widget eqLogic" style="width: 350px;background-color: #background_color#; #style#" data-eqLogic_id="#id#" data-eqLogic_cmd_uid="#uid#" data-version="dashboard" >
 <center class="widget-name"><strong><a href="#eqLink#" style="font-size : 1.1em;"> #zoneName# </a></strong></center>
<!--
	<div class="row" style="margin : 4px">
		<center>
		<span style="font-weight : bold; Cursor:default">Aujourd'hui</span>
		<i class="fa fa-cloud fa-lg today" style="color : #95a5a6; Cursor:default"></i>
		<br/>
		<span style="font-weight : bold; Cursor:default">Demain</span>
		<i class="fa fa-check fa-lg tomorrow" style="color : #95a5a6; Cursor:default"></i>
		<br/>
		</center>
	</div>
-->




<center>
<div class="cmd" data-type="info" data-subtype="binary" data-cmd_id="#cmd_id#" data-cmd_cmd_uid="#cmd_uid#">
      <!--  <div style="font-weight: bold;font-size : 12px;#hideCmdName#">#cmd_name# : #cmd_start# for #cmd_duration# min</div>-->
#cmd_list#
</div>
	<img style="height:90px;width:90px; display: #visibilityImage#;" src="plugins/arrosage/core/template/images/#cmd_stat#.png"/>
</center>

</div>

