<div class="eqLogic-widget eqLogic" style="width: 350px;background-color: #background_color#; #style#" data-eqLogic_id="#id#" data-eqLogic_cmd_uid="#uid#" data-version="dashboard" >
 <center class="widget-name"><strong><a href="#eqLink#" style="font-size : 1.1em;"> #zoneName# </a></strong></center>
<!--
	<div class="row" style="margin : 4px">
		<center>
		<span style="font-weight : bold; Cursor:default">Aujourd'hui</span>
		<i class="fa fa-cloud fa-lg today" style="color : #95a5a6; Cursor:default"></i>
		<br/>
		<span style="font-weight : bold; Cursor:default">Demain</span>
		<i class="fa fa-check fa-lg tomorrow" style="color : #95a5a6; Cursor:default"></i>
		<br/>
		</center>
	</div>
-->

<center>
<div class="cmd" data-type="action" data-subtype="other" data-cmd_id="#id#" data-cmd_uid="#uid#">
	<div>
                <img class="winter" style="height:40px;width:40px; margin:10px;" src="plugins/arrosage/core/template/images/winter_#winter_stat#.png"/> 
		<img class="rain" style="height:40px;width:40px; margin:10px;" src="plugins/arrosage/core/template/images/rain_#rain_stat#.png"/>
		<img class="wind" style="height:40px;width:40px; margin:10px;" src="plugins/arrosage/core/template/images/wind_#wind_stat#.png"/>
		<img class="moisture" style="height:40px;width:40px; margin:10px;" src="plugins/arrosage/core/template/images/moisture_#moisture_stat#.png"/>
	</div>

      <!--  <div style="font-weight: bold;font-size : 12px;#hideCmdName#">#cmd_name# : #cmd_start# for #cmd_duration# min</div>-->
	<img class="zoneAction" style="height:90px;width:90px; display: #visibilityImage#;" src="plugins/arrosage/core/template/images/#cmd_stat#.png"/>
	<p>#duration# min</p>
</div>

</center>
<script>

        $('.cmd[data-cmd_id=#id#] .winter').on('click', function () {
            jeedom.cmd.execute({id: '#winterID#'});
      });
        $('.cmd[data-cmd_id=#id#] .rain').on('click', function () {
            jeedom.cmd.execute({id: '#rainID#'});
      });
        $('.cmd[data-cmd_id=#id#] .wind').on('click', function () {
            jeedom.cmd.execute({id: '#windID#'});
      });
        $('.cmd[data-cmd_id=#id#] .moisture').on('click', function () {
            jeedom.cmd.execute({id: '#moistureID#'});
      });
	$('.cmd[data-cmd_id=#id#] .zoneAction').on('click', function () {
            jeedom.cmd.execute({id: '#zoneActionID#'});
      });	

    </script>

</div>

