<div class="eqLogic-widget eqLogic" style="width: 350px;background-color: #background_color#; #style#" data-eqLogic_id="#id#" data-eqLogic_cmd_uid="#uid#" data-version="dashboard" >
 <center class="widget-name"><strong><a href="#eqLink#" style="font-size : 1.1em;"> #zoneName# </a></strong></center>
<!--
	<div class="row" style="margin : 4px">
		<center>
		<span style="font-weight : bold; Cursor:default">Aujourd'hui</span>
		<i class="fa fa-cloud fa-lg today" style="color : #95a5a6; Cursor:default"></i>
		<br/>
		<span style="font-weight : bold; Cursor:default">Demain</span>
		<i class="fa fa-check fa-lg tomorrow" style="color : #95a5a6; Cursor:default"></i>
		<br/>
		</center>
	</div>
-->




<center>
<div class="cmd" data-type="info" data-subtype="binary" data-cmd_id="#cmd_id#" data-cmd_cmd_uid="#cmd_uid#">
<!--
	<div>
                <img style="height:40px;width:40px; margin:10px;" src="plugins/arrosage/core/template/images/winter_#winter_stat#.png"/> 
		<img style="height:40px;width:40px; margin:10px;" src="plugins/arrosage/core/template/images/rain_#rain_stat#.png"/>
		<img style="height:40px;width:40px; margin:10px;" src="plugins/arrosage/core/template/images/wind_#wind_stat#.png"/>
		<img style="height:40px;width:40px; margin:10px;" src="plugins/arrosage/core/template/images/moisture_#moisture_stat#.png"/>
	</div>
-->
      <!--  <div style="font-weight: bold;font-size : 12px;#hideCmdName#">#cmd_name# : #cmd_start# for #cmd_duration# min</div>-->

</br>
<style>
#tab {
    border: 1px solid white;
    border-collapse: collapse;
    padding-left: 15px;
    padding-right: 15px;
}
#tab_day {
    border: 1px solid white;
    border-collapse: collapse;
}
#days th, td {
   padding-left: 5px;
    padding-right: 5px;

}
#days {
   border-spacing: 2px;
}


</style>
	<table>
		<tr>
			<th id="tab">Nom</th>
			<th id="tab">Heure</th>
		<!--	<th id="tab">Jours</th>-->
		</tr>
#cmd_list#

	</table>
</div>
</center>

</div>

